.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(235, 235, 235);
    background-color: #8a8d91;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
    border-radius: 10%;
    width: 25vw;
  position: fixed;
  border: solid 5px #414141;
  opacity: 85%;
  left: 35%;
  }
  .holder input,
  .holder textarea {
    width: 100%;
  }
  .holder textarea {
    padding-bottom: 8vw;
  }
  body{
    overflow-x: hidden;
  }